# Basic steps for developing a model with Pycaret

In [9]:
from pycaret.datasets import get_data
data1 = get_data(dataset = 'traffic')

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,1,5545
1,None,289.36,0.0,0.0,75,Clouds,0,4516
2,None,289.58,0.0,0.0,90,Clouds,0,4767
3,None,290.13,0.0,0.0,90,Clouds,0,5026
4,None,291.14,0.0,0.0,75,Clouds,0,4918

In [8]:
from pycaret.regression import *

In [6]:
dataset = setup(data = data1, target = 'traffic_volume',
                session_id = 438, 
                silent = True)

In [7]:
best = compare_models()

In [16]:
tuned_best = tune_model(estimator = best)

In [19]:
final_model = finalize_model(estimator = tuned_best)

In [11]:
save_model(model = final_model,'C:/Users/Leyre/Desktop/automl/rf_base_traffic')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[],
                                       target='traffic_volume',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_...
                                colsample_bytree=1.0, feature_fraction=0.9,
                                importance_type='split', learning_rate=0.05,
                                max_depth=-1, min_child_samples=81,
                                min_child_weight=0.001, min_split_gain=0.8,
                                n_estimators=140, n_jobs=-1, num_leaves=90,
                                objective=None, random_state=438, reg_alpha=0.15,
                                reg_lambda=0.0001, silent=True, subsample=1.0,
                                subsample_for_bin=200000, subsample_freq=0)]],
          verbose=False),
 'C:/Users/Leyre/Desktop/automl/rf_base_traffic.pkl')

#### Predictions

In [12]:
saved_model = load_model('C:/Users/Leyre/Desktop/automl/rf_base_traffic')

Transformation Pipeline and Model Successfully Loaded

In [13]:
predictions = predict_model(saved_model, data=new_data)
predictions.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume,Label
0,None,288.28,0.0,0.0,40,Clouds,1,5545,4962.418271
1,None,289.36,0.0,0.0,75,Clouds,0,4516,3095.023100
2,None,289.58,0.0,0.0,90,Clouds,0,4767,3397.433215
3,None,290.13,0.0,0.0,90,Clouds,0,5026,3270.125955
4,None,291.14,0.0,0.0,75,Clouds,0,4918,3540.346611